{% extends 'base.html' %}
{% load static %}

{% block breadcrumb %}
       <li class="breadcrumb-item active">Enlight</li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Forum</th>
            <th>Posts</th>
            <th>Topics</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for forum in forums %}
            <tr>
              <td>
               <a href="{% url 'topic' forum.pk %}">  {{ forum.name }}</a>
                <small class="text-muted d-block">{{ forum.desc }}</small>
              </td>
              <td class="align-middle">{{forum.get_count}}</td>
              <td class="align-middle">  {{ forum.topics.count }}</td>
              <td class="align-middle">  {{ forum.get_last_post }}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
{% endblock %}
