{% extends 'base.html' %}

{% block breadcrumb %}
   <li class="breadcrumb-item">Forums</li>
          <li class="breadcrumb-item active"><a href ="{% url 'forum' %}">{{topics.subject}}</a></li>
{% endblock %}

{% block content %}
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Topic</th>
            <th>Started by</th>
            <th>Last updated</th>
            <th>Last Post</th>
          </tr>
        </thead>
        <tbody>
          {% for topic in topics %}
            <tr>
              <td>
                {{ topic.subject }}
               </td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}













