{% extends 'base.html' %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href ="{% url 'home' %}">Forums</a></li>
   <li class="breadcrumb-item active">{{forums.name}}</li>
{% endblock %}

{% block content %}
<a href="{% url 'new_topic' forums.pk %}"><button type="button" class="btn btn-primary">New</button></a>
      <table class="table">
        <thead class="thead-inverse">
          <tr>
            <th>Topic</th>
            <th>Started by</th>
            <th>Replies</th>
            <th>Views</th>
            <th>Last updated</th>
            
          </tr>
        </thead>
        <tbody>
          {% for topic in topics %}
            <tr>
              <td>
               <a href="{% url 'topic_posts' forums.pk topic.pk %}"> {{ topic.subject }}</a>
               </td>
              <td class="align-middle">{{topic.started_by}}</td>
              <td class="align-middle">0</td>
              <td class="align-middle">0</td>
              <td class="align-middle">{{topic.last_updated}}</td>
              <td></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}













